---
---
<footer>
  <div class="container">
    <p>&copy; 2024 Lumina Photography. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    padding: 4rem 0;
    background-color: #000;
    text-align: center;
    color: var(--color-secondary);
    border-top: 1px solid #222;
  }
</style>
